.banner {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.bannerContent {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6110819327731092) 51%, rgba(1, 0, 0, 0.6110819327731092) 60%, rgba(4, 1, 1, 0.5550595238095238) 69%, rgba(5, 1, 1, 0.5550595238095238) 75%, rgba(7, 1, 1, 0.4150035014005602) 83%, rgba(8, 1, 1, 0.24693627450980393) 89%, rgba(10, 2, 2, 0) 100%);
    width: 50%;
}

.bannerContent h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.bannerContent p {
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .bannerContent {
        width: 100%;
    }
}