.movie-list h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.movie {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    filter: brightness(0.9);
}

.movie:hover {
    filter: brightness(1);
}

.movie img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

.movie h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Alice Carousel styles */
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 40px;
    color: white;
    height: 16em;
}

.alice-carousel__next-btn {
    right: 0;
}

.alice-carousel__prev-btn {
    left: 0;
}

.alice-carousel__next-btn,
.alice-carousel__prev-btn {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 35px;
}

.filmsSeries {
    margin-top: 20vh;
}