.movieDetails {
    height: 100vh;
    display: flex;
}

.movieDetails img {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.movieDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.movieDetails .movieDetailsContent {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    padding: 30px;
}

.movieDetails .movieDetailsContent div p {
    text-align: initial;
}

.movieDetails .movieDetailsContent div {
    display: block;
    text-align: center;
    width: 100%;
}

.movieDetails .movieDetailsContent .buttons {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .movieDetails {
        flex-direction: column;
    }

    .movieDetails img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .movieDetails .movieDetailsContent {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .movieDetails img {
        height: 30%;
    }

    .movieDetails .movieDetailsContent h2 {
        font-size: 20px;
    }

    .movieDetails .movieDetailsContent .overview {
        display: none;
    }

    .movieDetails .movieDetailsContent .buttons button {
        font-size: 12px;
    }
}