nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    z-index: 999;
    transition: background-color 0.3s ease;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 1px black;
}

nav ul li a:hover {
    color: white;
}

nav ul li img {
    height: 40px;
}

nav form {
    display: flex;
    align-items: center;
}

nav form input[type='text'] {
    padding: 5px;
    border-radius: 3px;
    background-color: #0000005c;
    color: yellowgreen;
    border: none;
    margin-right: 10px;
}

nav form input[type='text']::placeholder {
    color: yellowgreen;
}

nav form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav form button:focus {
    outline: none;
}

nav svg {
    color: yellowgreen;
    font-size: 20px;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav form {
        margin-top: 10px;
    }

    nav form input[type='text'] {
        width: 100%;
    }
}

.menu {
    display: none;
}

.menuOpen {
    display: block;
    width: 100%;
}

@media (min-width: 769px) {
    .icon {
        display: none;
    }

    .menuOpen {
        display: flex;
    }
}