body {
  background-color: black;
  color: white;
}

.button1,
.button2 {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.button1 {
  background-color: #e50914;
  color: white;
}

.button2 {
  background-color: #333;
  color: white
}

.button1:hover,
.button2:hover {
  background-color: #c6000b;
}

.voltar {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 7px;
  right: 10px;
}