.movieContainer {
    margin-top: 70px;
}

.movieList h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.movie {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie img {
    height: auto;
    border-radius: 7px;
    transition: transform 0.3s ease;
    padding: 2px;
}

.movie:hover img {
    transform: scale(0.98);
    border: 2px solid yellowgreen;
}

.buttonPrev,
.buttonNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    height: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonPrev {
    left: -10px;
}

.buttonNext {
    right: -10px;
}

.buttonPrev:hover,
.buttonNext:hover {
    background-color: rgba(139, 139, 139, 0.8);
}

.buttonPrev.disabled,
.buttonNext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .movieList h2 {
        font-size: 20px;
    }

    .buttonPrev,
    .buttonNext {
        font-size: 24px;
        padding: 8px;
    }
}